<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usermanager.mapper.UserMapper">

    <select id="listUserPage" resultType="com.example.usermanager.bean.User">
        select *
        from user
        <where>
            1 = 1
            <if test="queryParam != null">
                <if test="queryParam.username != null and queryParam.username != ''">
                    and username = #{queryParam.username}
                </if>
                <if test="queryParam.nickname != null and queryParam.nickname != ''">
                    and nickname like CONCAT(#{queryParam.nickname}, '%')
                </if>
                <if test="queryParam.phone != null and queryParam.phone != ''">
                    and phone = #{queryParam.phone}
                </if>
                <if test="queryParam.sex != null and queryParam.sex != ''">
                    and sex = #{queryParam.sex}
                </if>
                <if test="queryParam.time != null and queryParam.time != ''">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') = #{queryParam.time}
                </if>
            </if>
        </where>
    </select>
</mapper>